.menubutton {
   background-color: #2c2b2c;
   color:white;
   border-radius: 8px;
   padding: 2px;
   border-color: orange;
   margin: 1px;
   width: 120px;
   cursor: pointer;
   font-weight: 800;
   font-size: 17px;
}
.testh3 {
  display: inline-block;
  margin: 0 auto;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box {
  display: inline-block;
  width: 60%;
  height: 80%;
  background-color: rgb(66, 66, 66);
  border: 2px solid orange;
  border-radius: 8px;
  margin: 10px;
}
.picture {
  width: 150px;
  height: 190px;
  background-color: rgb(66, 66, 66);
  border: 2px solid orange;
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
}
.profilepic {
  width: 100px;
  height: 75px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  background-color: #2c2b2c;
  border-width: 2px;
  border-color: orange;
  border-style: groove;
}
.socialpic {
  cursor: pointer;
  width: 25px;
  height: 25px;
}